@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	color: #eef6ff;
	font-family: 'Roboto', sans-serif;
}

input {
	font-family: 'Roboto', sans-serif;
}

a {
	color: #eef6ff;
}
main {
	min-height: 100vh;
	background-image: url('../assets/images/bg-portrait.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

@media only screen and (min-width: 600px) {
	main {
		background-image: url('../assets/images/bg-landscape.svg');
	}
}
