.icon {
	height: 40px;
	width: 40px;
	transition: 0.1s;
	background-color: #00112291;
	border-radius: 10px;
}

.icon:hover {
	color: #009473;
}

.toggleNavButton {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 1000;
}

.nav {
	display: grid;
	grid-template-rows: 300px 1fr;
	position: fixed;
	top: 0;
	padding: 20px;
	z-index: 500;
	background-color: #001122;
	transition: 0.4s;
	width: 100%;
	height: 100%;
}

.nav ul {
	list-style: none;
	padding: 0;
}

.nav li {
	margin: 20px auto;
	text-align: center;
	font-size: 1.5rem;
}
.nav li a {
	text-decoration: none;
}

.nav a {
	transition: 0.1s;
}

.nav a:hover {
	color: #009473;
}

.active {
	color: #009473;
}

.bottomLinks {
	align-self: end;
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 50px;
}
