.deleteAccount {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.deleteAccount button {
	width: 200px;
	padding: 10px 20px;
	margin: 10px 0 10px;
	font-size: 1.2rem;
	border-radius: 10px;
	border: none;
	background: #940000;
	color: inherit;
	box-shadow: 5px 5px 10px #ac1a1a, -5px -5px 10px #b83535;
	transition: 0.08s;
}

.deleteAccount button:hover {
	box-shadow: 5px 5px 4px #ac1a1a, -5px -5px 4px #b83535;
}
